.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 624px;
  background-color: #fff;
  padding-top: 80px;
  color: #1a1b22;
}

.about__author-image {
  max-width: 464px;
  width: 100%;
  height: 464px;
  border-radius: 1000px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__header {
  max-width: 600px;
  width: 100%;
  height: 46px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 303px;
}

.about__paragraph-seperater {
  display: block;
}

@media screen and (max-width: 760px) {
  .about__author-image {
    height: 232px;
    width: 232px;
  }

  .about__header {
    font-size: 30px;
    margin-right: 16px;
  }

  .about__paragraph {
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cente;
    padding: 32px 24px 128px;
  }

  .about__author-image {
    margin-bottom: 24px;
  }
}
